.content_area {
    overflow: hidden;
    width: 1200px;
    background: url(../images/content1/greet_1.jpg) 100% 20% no-repeat, url(../images/content1/greet_3.jpg) 100% 67% no-repeat;
}

.content_area p {
    padding-left: 20px;
    margin: 55px 0;
    width: 670px;
    font-size: 18px;
    text-align: justify;
    line-height: 2em;
}

.content_area p:first-of-type {
    margin: 0 0 80px 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.content_area p strong {
    color: #fe4365
}

.content_area p span {
    margin-left: 5px;
    font-family: 'Nanum Myeongjo';
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 6px;
}