.visual_box {
  position: relative;
  left: 50%;
  top: 120px;
  margin-left: -1000px;
  width: 2000px;
}

.subnav_box {
  position: relative;
  margin-top: 200px;
  text-align: center;
  font-family: 'Nanum Gothic';
}

.subnav_box h3,
.subnav_box p {
  position: absolute;
  top: -240px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-shadow: 2px 2px 2px #999;
  color: #fff;
  font-size: 32px;
  display: none
}

.subnav_box p {
  top: -180px;
  font-size: 16px;
}

.subnav_box .sub_nav {
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: -125px;
  background: rgba(255, 255, 255, 1);
  color: #fff;
  width: 600px;
  border-bottom: 1px solid #efefef
}

.subnav_box .sub_nav li {
  float: left;
  width: 50%;
}

.subnav_box .sub_nav li .current {
  color: #fff;
  font-weight: bold;
  background: #fe4365
}

.subnav_box .sub_nav li a {
  display: block;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 700;
  transition: all .5s;
  color: #333
}

.subnav_box .sub_nav li a:hover {
  color: #fff;
  background: #fe4365
}

#content {
  margin: 0 auto;
  width: auto;
  text-align: center;
  font-family: 'Noto Sans KR', 'Nanum Gothic';
  font-weight: 300;
}

#content .title_area {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

#content .title_area .line_map {
  width: 240px;
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto
}

#content .title_area .line_map strong {
  font-weight: 400
}

#content .title_area h2 {
  margin-top: 70px;
  font-size: 40px;
  font-weight: bold;
}

#content .content_area {
  margin: 100px auto;
  width: 1200px;
  margin: 0 auto
}

.content_area .tab_menu {
  overflow: hidden;
  position: relative;
  margin: 40px auto 30px;
  width: 700px;
}

.content_area .tab_menu li {
  float: left;
  position: relative;
  width: 50%;
  text-align: center;
  font-weight: 700;
}

.content_area .tab_menu li a {
  display: block;
  position: relative;
  font-size: 20px;
  transition: all .5s;
}

.content_area .tab_menu li a:hover,
.content_area .tab_menu .current {
  color: #fe4365;
}

.content_area .tab_menu::after,
.content_area .tab_menu li a::after {
  content: '';
  display: block;
  background: #ddd;
  transition: all .5s;
}

.content_area .tab_menu::after {
  position: absolute;
  top: 44px;
  left: 180px;
  z-index: 2;
  width: 350px;
  height: 1px;
}

.content_area .tab_menu li a::after {
  position: relative;
  z-index: 10;
  margin: 10px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.content_area .tab_menu .current::after,
.content_area .tab_menu li a:hover::after {
  background: #fe4365;
  border-radius: 2px
}
